.alert {
  width: 26px;
  height: 26px;
}

.attend {
  width: 20px;
  height: 20px;
}

.back {
  width: 24px;
  height: 24px;
}

.c-18 {
  width: 20px;
  height: 20px;
}

.c-19 {
  width: 20px;
  height: 20px;
}

.c-20 {
  width: 20px;
  height: 20px;
}

.c-21 {
  width: 20px;
  height: 20px;
}

.chevron-right {
  width: 32px;
  height: 32px;
}

.dashboard {
  width: 32px;
  height: 32px;
}

.dying {
  width: 32px;
  height: 32px;
}

.employee {
  width: 32px;
  height: 32px;
}

.exit {
  width: 26px;
  height: 26px;
}

.girl {
  width: 20px;
  height: 20px;
}

.good {
  width: 32px;
  height: 32px;
}

.lock {
  width: 26px;
  height: 26px;
}

.male {
  width: 20px;
  height: 20px;
}

.menu {
  width: 24px;
  height: 24px;
}

.message {
  width: 26px;
  height: 26px;
}

.people {
  width: 32px;
  height: 32px;
}

.profile {
  width: 26px;
  height: 26px;
}

.register {
  width: 32px;
  height: 32px;
}

.scanner {
  width: 32px;
  height: 32px;
}

.setting {
  width: 26px;
  height: 26px;
}

.student {
  width: 32px;
  height: 32px;
}

.teacher {
  width: 32px;
  height: 32px;
}

.thermo {
  width: 20px;
  height: 20px;
}

.visit-v2 {
  width: 20px;
  height: 20px;
}

.visit {
  width: 32px;
  height: 32px;
}

