<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <section class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        @@include('./includes/element/fast-card.html')

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade" id="nav-visit" role="tabpanel" aria-labelledby="nav-visit-tab">
                                <div class="row">
                                    <h1 class="h3 mb-3">Asistencias</h1>
                                    <div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Registro de Visitantes</h5>
                                            </div>
                                            <div class="card-body">
                                                <table id="table-attend-visit" class="table table-hover table-outline" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Registro</th>
                                                            <th>Descripción</th>
                                                            <th>Temperatura</th>
                                                            <th>Fecha</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
                                <div class="row">
                                    <h1 class="h3 mb-3">Asistencias</h1>
                                    <div id="div-list">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Registro de Estudiantes</h5>
                                            </div>
                                            <div class="card-body">
                                                <table id="table-attend" class="table table-hover table-outline" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>IdFirebase</th>
                                                            <th>Imagen</th>
                                                            <th>Registro</th>
                                                            <th>Fecha</th>
                                                            <th>Descripción</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-person" class="col-xl-4 hide">
                                        @@include('./includes/element/person-card.html')
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-professor" role="tabpanel" aria-labelledby="nav-professor-tab">
                                <h1 class="h3 mb-3">En construcción...</h1>
                            </div>
                            <div class="tab-pane fade" id="nav-admin" role="tabpanel" aria-labelledby="nav-admin-tab">
                                <h1 class="h3 mb-3">En construcción...</h1>
                            </div>
                        </div>


                    </div>
                </div>
            </main>
        </section>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>