<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <section class="c-body">

            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="container">
                            <div class="container-fluid p-0">
                                <h1 class="h3 mb-3">Estudiantes</h1>
                                <div class="row">
                                    <div id="div-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                <h5 class="card-title mb-0">Registro de Estudiantes</h5>
                                                <button id="btnModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#record-student">
                                                   Registrar Estudiante
                                                </button>
                                                <!--Registrar un nuevo estudiante-->
                                                <div class="modal fade" id="record-student" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <form id="reg-Student" class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalCenterTitle">Registrar Estudiante</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card-body">
                                                                    <div class="d-flex flex-column">
                                                                        <div class="d-flex flex-column align-items-center">
                                                                            <img class="img-thumbnail" width="150" height="150" src="./img/profile.png" alt="Imagen de Perfil">
                                                                            <input class="mt-2" type="file" accept="image/png, image/jpeg" name="Agregar Foto" id="addImage">
                                                                        </div>

                                                                        <div class="mb-4"></div>

                                                                        <div class="grid-2c">
                                                                            <div class="form-group">
                                                                                <label for="txtNombres">Nombres</label>
                                                                                <input type="text" class="form-control" id="txtNombres" required placeholder="Ambos Nombres">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtApellidos">Apellidos</label>
                                                                                <input type="text" class="form-control" id="txtApellidos" required placeholder="Ambos Apellidos">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtCarnet"># Carnet</label>
                                                                                <input type="text" class="form-control" id="txtCarnet" required placeholder="Codido de Carnet">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtCorreo">Correo</label>
                                                                                <input type="email" class="form-control" id="txtCorreo" required placeholder="Correo Electronico">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtDireccion">Direccion</label>
                                                                                <input type="text" class="form-control" id="txtDireccion" required placeholder="Direccion">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtTelefono">Telefono</label>
                                                                                <input type="tel" class="form-control" id="txtTelefono" required placeholder="Numero de Telefono">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtSexo">Sexo</label>
                                                                                <select id="txtSexo" required class="form-control" aria-label="Default">
                                                                                    <option selected disabled>Selecione el sexo</option>
                                                                                    <option value="M">Masculino</option>
                                                                                    <option value="F">Femenino</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="txtCarrera">Carrera</label>
                                                                                <select id="txtCarrera" required class="form-control" aria-label="Default">
                                                                                    <option selected disabled>Selecione una Carrera</option>
                                                                                    <option value="Ingenieria en Computacion">Ingenieria en Computacion</option>
                                                                                    <option value="Ingenieria en Electronica">Ingenieria en Electronica</option>
                                                                                    <option value="Ingenieria Quimica">Ingenieria Quimica</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                <input type="submit" value="Guardar" class="btn btn-primary">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <table id="table-user" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Codigo</th>
                                                            <th>Nombres</th>
                                                            <th>Apellidos</th>
                                                            <th>Carrera</th>
                                                            <th>Sexo</th>
                                                            <th>Direccion</th>
                                                            <th>Telefono</th>
                                                            <th>Correo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-person" class="col-xl-4 hide">
                                        @@include('./includes/element/person-card.html')
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>