<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <section class="c-body">

            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">

                        <div class="container bootstrap snippets bootdeys">
                            <div class="row" id="user-profile">
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div class="main-box clearfix">
                                        <h2 id="txt-Nombre">John Doe </h2>
                                        <img id="imgPerson" src="../img/unknown.jpg" alt="" class="profile-img img-responsive center-block">
                                        <div class="profile-label">
                                            <a id="link-person" class="badge badge-info" href="#">Estudiante</a>
                                        </div>

                                        <div class="profile-since">
                                            Registrado el: 23/01/2021
                                        </div>

                                        <div class="profile-details">
                                            <ul class="fa-ul">
                                                <li><i class="fa-li fa fa-tasks"></i>Registros: <span>10</span></li>
                                                <li><i class="fa-li fa fa-comment"></i>Normal: <span>9</span></li>
                                                <li><i class="fa-li fa fa-truck"></i>Alta: <span>1</span></li>
                                            </ul>
                                        </div>

                                        <div class="profile-message-btn center-block text-center">
                                            <button id="btnModal" type="button" class="btn btn-danger" data-toggle="modal" data-target="#tomarDatos">
                                                Tomar Temperatura
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-8 col-sm-8">
                                    <div class="main-box clearfix">
                                        <div class="d-flex justify-content-between">
                                            <h3><span>Datos personales</span></h3>
                                            <a href="#" class="btn btn-primary edit-profile">
                                                <i class="fa fa-pencil-square fa-lg"></i> Actualizar datos
                                            </a>
                                        </div>

                                        <div class="row profile-user-info">
                                            <div class="col-sm-8">
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        No. carné:
                                                    </div>
                                                    <div id="tdCarnet" class="profile-user-details-value">

                                                    </div>
                                                </div>
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        Apellidos:
                                                    </div>
                                                    <div id="tdApellido" class="profile-user-details-value">

                                                    </div>
                                                </div>
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        Sexo:
                                                    </div>
                                                    <div class="profile-user-details-value">
                                                        M
                                                    </div>
                                                </div>
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        Direccion:
                                                    </div>
                                                    <div id="tdDireccion" class="profile-user-details-value">

                                                    </div>
                                                </div>
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        Correo:
                                                    </div>
                                                    <div class="profile-user-details-value">
                                                        johndoe@bootdey.com
                                                    </div>
                                                </div>
                                                <div class="profile-user-details clearfix">
                                                    <div class="profile-user-details-label">
                                                        Teléfono 1:
                                                    </div>
                                                    <div class="profile-user-details-value">
                                                        011 223 344 556 677
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tabs-wrapper profile-tabs">

                                            <ul class="nav nav-tabs">
                                                <li>
                                                    <a href="#tab-registros" class="nav-link active" aria-current="page" data-toggle="tab">Registros</a>
                                                </li>
                                                <li class="nav-item" id="#tab2">
                                                    <a id="tabAlertas" href="#tab-alertas" data-toggle="tab" class="nav-link">Alertas</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab-alertas">
                                                    <div id="remove-me" class="d-flex justify-content-center">
                                                        <div class="align-items-center text-white bg-primary border-0">
                                                            <div class="d-flex">
                                                                <div class="toast-body">
                                                                    No hay ninguna alerta
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody id="listAlertas">

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                                <div class="tab-pane fade p-3 border" id="tab-registros">
                                                    <div>
                                                        <table id="table-attend-personal" class="table table-striped" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>IdFirebase</th>
                                                                    <th>Codigo</th>
                                                                    <th>Fecha</th>
                                                                    <th>Hora</th>
                                                                    <th>Temperatura</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                        <br>
                                                        <a href="student.html" class="btn btn-success pull-right">Ver todos los usuarios</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </section>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>