<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <section class="c-body">

            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="container">
                            <div class="container-fluid p-0">
                                <h1 class="h3 mb-3">Estudiantes</h1>
                                <div class="row">
                                    <div id="div-list">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-actions float-right" style="display: none;">
                                                    <div class="dropdown show">
                                                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" data-display="static">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h5 class="card-title mb-0">Registro de Estudiantes</h5>
                                            </div>
                                            <div class="card-body">
                                                <table id="table-user" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Codigo</th>
                                                            <th>Nombres</th>
                                                            <th>Apellidos</th>
                                                            <th>Carrera</th>
                                                            <th>Sexo</th>
                                                            <th>Direccion</th>
                                                            <th>Telefono</th>
                                                            <th>Correo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-person" class="col-xl-4 hide">
                                        @@include('./includes/element/person-card.html')
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>