<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div class="grid-4c h-75">

                        <div class="card m-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Temperatura</h5>
                            </div>
                            <div class="card-body fab-contain">
                                <span class="material-icons mini-icon">thermostat</span>
                                <span class="mini visual-number">0</span>
                            </div>
                        </div>

                        <div class="card m-0 span2">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Medidor de Temperatura</h5>
                            </div>
                            <div class="card-body fab-contain">
                                <canvas id="gauge-temperature"></canvas>
                            </div>
                        </div>

                        <div class="card m-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Control</h5>
                            </div>
                            <div class="card-body">
                                <div class="text-center fab-contain">
                                    <div class="fab">&#xe8ac;</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @@include('./includes/element/thermo-report.html')

                    <div class="grid-2c">
                        <div class="card">
                            <div class="card-header">Temperatura anormal</div>
                            <div class="card-body">
                                <!--Reporte de Temperaturas Altas -->
                                <table id="table-hight" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>IdFirebase</th>
                                            <th>Codigo</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Temperatura</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">Temperatura semanal</div>
                            <div class="card-body">
                                <!-- Reporte de Temperatura semenal -->
                                @@include('./includes/element/thermo-weekly.html')
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Todas las Temperaturas
                        </div>
                        <div class="card-body">
                            <table id="table-attend" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>IdFirebase</th>
                                        <th>Codigo</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Temperatura</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>