<!DOCTYPE html>
<html lang="en">

@@include('./includes/head.html')

<body class="c-app">

    <!-- Sidebar content here -->
    @@include('./includes/sidebar.html')

    <main class="c-wrapper c-fixed-components">

        @@include('./includes/header.html')

        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div class="grid-4c h-75">
                        <div class="card m-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Sensando</h5>
                            </div>
                            <div class="card-body fab-contain d-flex flex-column">
                                <div class="mb-1">
                                    <span class="material-icons mini-icon">thermostat</span>
                                    <span id="visual-thermostat" class="mini visual-number">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="card m-0 span2">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Medidor de Temperatura</h5>
                            </div>
                            <div class="card-body fab-contain">
                                <canvas id="gauge-temperature"></canvas>
                            </div>
                        </div>

                        <div class="card m-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Control</h5>
                            </div>
                            <div class="card-body">
                                <div class="text-center fab-contain">
                                    <div class="fab">&#xe8ac;</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @@include('./includes/element/thermo-report.html')

                    <div class="grid-2c">
                        <div class="card">
                            <div class="card-header">Temperatura anormal</div>
                            <div class="card-body">
                                <!--Reporte de Temperaturas Altas -->
                                <table id="table-hight" class="table table-hover table-outline" style="width: 100%!important;">
                                    <thead>
                                        <tr>
                                            <th>IdFirebase</th>
                                            <th>Imagen</th>
                                            <th>Registro</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">Temperatura semanal</div>
                            <div class="card-body">
                                <!-- Reporte de Temperatura semenal -->
                                @@include('./includes/element/thermo-weekly.html')
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Todas las Temperaturas
                        </div>
                        <div class="card-body">
                            <table id="table-attend" class="table table-hover table-outline" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>IdFirebase</th>
                                        <th>Imagen</th>
                                        <th>Registro</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span>Consola Serial</span>
                            <button id="btnServer" type="button" class="btn btn-light">Conectar</button>
                        </div>
                        <div class="card-body">
                            <p class="form-label">Mensaje: Arduino a Web</p>
                            <div class="form-control mb-1" id="console">

                            </div>
                            <div id="only-server" class="hide">
                                <div class="mt-3 mb-3" style="border-top:  1px solid rgba(128, 128, 128, 0.342);"></div>
                                <form id="toconsole" name="sendform">
                                    <div class="mb-3">
                                        <label for="txtArduino" class="form-label">Mensaje: Web a Arduino</label>
                                        <textarea id="txtArduino" class="form-control" name="txtArduino"></textarea>
                                        <div class="form-text">Escriba su mensaje y luego de click en 'Enviar'.</div>
                                    </div>

                                    <input class="btn btn-primary" type="button" name="Enviar" value="Enviar" onclick='toArduino("");' />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include('./includes/footer.html')
    </main>

    @@include('./includes/script.html')
</body>

</html>