<div class="grid-fast-card">
    <div class="card">
        <div class="card-body p-0 d-flex align-items-center">
            <div class="bg-gradient-success p-4 mfe-3">
                <img class="c-icon c-icon-xl" src="img/student.svg" alt="">
            </div>
            <div>
                <div class="text-value text-primary">1340</div>
                <div class="text-muted text-uppercase font-weight-bold small"># de Estudiantes</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0 d-flex align-items-center">
            <div class="bg-gradient-info p-4 mfe-3">
                <img class="c-icon c-icon-xl" src="img/teacher.svg" alt="">
            </div>
            <div>
                <div class="text-value text-info">86</div>
                <div class="text-muted text-uppercase font-weight-bold small"># de Profesores</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0 d-flex align-items-center">
            <div class="bg-gradient-warning p-4 mfe-3">
                <img class="c-icon c-icon-xl" src="img/employee.svg" alt="">
            </div>
            <div>
                <div class="text-value text-warning">120</div>
                <div class="text-muted text-uppercase font-weight-bold small"># de Empleados</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0 d-flex align-items-center">
            <div class="bg-gradient-primary p-4 mfe-3">
                <img class="c-icon c-icon-xl" src="img/visit.svg" alt="">
            </div>
            <div>
                <div class="text-value text-danger">2300</div>
                <div class="text-muted text-uppercase font-weight-bold small"># de Invitados</div>
            </div>
        </div>
    </div>
</div>