<div class="card">
    <div class="card-header">
        <h5 id="txt-Nombre" class="card-title mb-0">Angelica Ramos</h5>
    </div>

    <div class="main-box">
        <div class="d-flex flex-column align-items-center">
            <img id="imgPerson" src="../img/unknown.jpg" alt="imagen de persona" class="img-thumbnail profile-img img-responsive img-mini center-block">
            <div class="profile-label">
                <a id="link-person" target="_blank" class="badge badge-info" href="student.html">Estudiante</a>
            </div>

            <div class="profile-since">
                Registrado el: 23/01/2021
            </div>
        </div>

        <table class="table table-condensed table-hover nowrap dataTable no-footer dtr-column collapsed">
            <tbody class="mini-info">
                <tr>
                    <th># Carnet</th>
                    <td id="tdCarnet">None</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td id="tdApellido">None</td>
                </tr>
                <tr>
                    <th>Carrera</th>
                    <td id="tdCarrera">None</td>
                </tr>
                <tr>
                    <th>Direccion</th>
                    <td id="tdDireccion">+1234123123123</td>
                </tr>
                <tr>
                    <th>Registros</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>Alta</th>
                    <td>9</td>
                </tr>
                <tr>
                    <th>Alta</th>
                    <td>1</td>
                </tr>
            </tbody>
        </table>

        <div class="profile-message-btn center-block text-center">
            <br>
            <button id="btnModal" type="button" class="btn btn-danger" data-toggle="modal" data-target="#tomarDatos">
                Tomar Temperatura
            </button>
        </div>
    </div>

    <div class="card-body">

        <strong>Alertas</strong>
        <ul id="listAlertas" class="timeline mt-2 mb-0">
            <li id="remove-me" class="d-flex justify-content-center">
                <div class="align-items-center text-white bg-primary border-0">
                    <div class="d-flex">
                        <div class="toast-body">
                            No hay ninguna alerta
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline-item hide">
                <strong>Signed out</strong>
                <span class="float-right text-muted text-sm">30m ago</span>
                <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
            </li>
        </ul>

    </div>
</div>