<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('./service-worker.js?' + Math.random() + '').
            then(function(registration) {
                // Registro fue exitoso 
                //console.log('Registered!');
            }, function(err) {
                // El registro fallo :(
                console.log('ServiceWorker registration failed: ', err);
            }).catch(function(err) {
                console.log(err);
            });
        });
    } else {
        console.log('service worker is not supported');
    }
</script>

<!-- Firebase = {Base de datos} -->
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>-->
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>

<!-- Offline Database 
<script src="https://unpkg.com/localbase/dist/localbase.min.js"></script>-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Core UI -->
<script src="./js/min/perfect-scrollbar.min.js"></script>
<script src="https://unpkg.com/@coreui/coreui@3.4.0/dist/js/coreui.js"></script>

<!-- Stepper -->
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<!-- Datatables extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
<script src="../js/apis.js"></script>
<script src="./js/min/main.min.js"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
            appId: "478939bb-8e38-49fc-84fc-7115a4e05b8a",
        });
    });
</script>